USE [master]
GO
/****** Object:  Database [Carniceria]    Script Date: 3/10/2025 22:30:43 ******/
CREATE DATABASE [Carniceria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Carniceria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Carniceria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Carniceria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Carniceria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Carniceria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Carniceria]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](255) NULL,
	[email] [varchar](50) NULL,
	[info_relevante] [varchar](255) NULL,
	[fecha_registro] [datetime] NULL,
	[cod_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_deuda_productos]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_deuda_productos](
	[id_deuda_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_deuda] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[kilos] [decimal](10, 2) NULL,
	[cantidad] [int] NULL,
	[monto_producto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_deuda_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deudas_registradas]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deudas_registradas](
	[id_deuda] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha_deuda] [datetime] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[saldada] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_deuda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_precios]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_precios](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[precio_nuevo] [decimal](10, 2) NOT NULL,
	[fecha_actualizacion] [datetime] NOT NULL,
	[cod_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id_parciales] [int] IDENTITY(1,1) NOT NULL,
	[id_deuda] [int] NOT NULL,
	[monto_pagado] [decimal](10, 2) NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_parciales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [varchar](255) NOT NULL,
	[precio] [decimal](10, 2) NULL,
	[tipo] [varchar](1) NOT NULL,
	[cod_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_productos]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_productos](
	[id_stock] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[descripcion] [varchar](255) NULL,
	[cantidad] [int] NULL,
	[fecha_actualizacion] [datetime] NOT NULL,
	[cod_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[id_rol] [int] NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[cod_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[historial_precios] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[historial_precios] ADD  DEFAULT ('A') FOR [cod_estado]
GO
ALTER TABLE [dbo].[stock_productos] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[deudas_registradas]  WITH CHECK ADD  CONSTRAINT [deudas_registradas_clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[deudas_registradas] CHECK CONSTRAINT [deudas_registradas_clientes]
GO
ALTER TABLE [dbo].[historial_precios]  WITH CHECK ADD  CONSTRAINT [fk_historial_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[historial_precios] CHECK CONSTRAINT [fk_historial_producto]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [pagos_deudas_registradas] FOREIGN KEY([id_deuda])
REFERENCES [dbo].[deudas_registradas] ([id_deuda])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [pagos_deudas_registradas]
GO
ALTER TABLE [dbo].[stock_productos]  WITH CHECK ADD  CONSTRAINT [fk_stock_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[stock_productos] CHECK CONSTRAINT [fk_stock_productos]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [usuarios_roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [usuarios_roles]
GO
/****** Object:  StoredProcedure [dbo].[sp_alta_producto]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_alta_producto]
    @nombre_producto VARCHAR(255),
    @precio DECIMAL(10,2),
    @tipo VARCHAR(1),
    @cantidad INT,
    @descripcion VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1) Insertar producto
        INSERT INTO productos (nombre_producto, precio, tipo, cod_estado)
        VALUES (@nombre_producto, @precio, @tipo, 'A');

        DECLARE @id_producto INT = SCOPE_IDENTITY();

        -- 2) Insertar stock inicial
        INSERT INTO stock_productos (id_producto, descripcion, cantidad, cod_estado)
        VALUES (@id_producto, @descripcion, @cantidad, 'A');

        -- 3) Insertar historial de precios (precio inicial = anterior y nuevo)
        INSERT INTO historial_precios (id_producto,precio_nuevo, cod_estado)
        VALUES (@id_producto,@precio, 'A');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_stock_producto]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_consultar_stock_producto]
    @id_producto INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @cantidad INT;

    SELECT @cantidad = cantidad
    FROM stock_productos
    WHERE id_producto = @id_producto
      AND cod_estado = 'A';

    IF @cantidad IS NOT NULL AND @cantidad > 0
    BEGIN
        SELECT 
            @id_producto AS id_producto,
            @cantidad AS stock_disponible,
            'Stock disponible: ' + CAST(@cantidad AS VARCHAR(10)) AS mensaje;
    END
    ELSE
    BEGIN
        SELECT 
            @id_producto AS id_producto,
            0 AS stock_disponible,
            'El producto se agotó' AS mensaje;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_editar_producto]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_editar_producto]
    @id_producto INT,
    @nombre_producto VARCHAR(255) = NULL,
    @cantidad DECIMAL(10,2) = NULL,
    @precio DECIMAL(10,2) = NULL,
    @cod_estado VARCHAR(1) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @precio_actual DECIMAL(10,2);

    -- Obtenemos el precio actual
    SELECT @precio_actual = precio
    FROM productos
    WHERE id_producto = @id_producto;

    -- 1) Actualizamos producto
    UPDATE productos
    SET
        nombre_producto = COALESCE(UPPER(@nombre_producto), nombre_producto),
        precio = COALESCE(@precio, precio)
    WHERE id_producto = @id_producto;

    -- 2) Actualizamos stock solo si cantidad fue modificada
    IF @cantidad IS NOT NULL
    BEGIN
        UPDATE stock_productos
        SET cantidad = @cantidad,
            fecha_actualizacion = GETDATE()
        WHERE id_producto = @id_producto;
    END

    -- 3) Actualizamos estado solo si fue pasado
    IF @cod_estado IS NOT NULL
    BEGIN
        UPDATE stock_productos
        SET cod_estado = UPPER(@cod_estado),
            fecha_actualizacion = GETDATE()
        WHERE id_producto = @id_producto;
    END

    -- 4) Si el precio cambió, insertamos en historial
    IF @precio IS NOT NULL AND @precio <> @precio_actual
    BEGIN
        INSERT INTO historial_precios (id_producto, precio_nuevo, cod_estado)
        VALUES (@id_producto, @precio, 'A');
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_cliente]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_insertar_cliente]
    @nombre         VARCHAR(100),
    @apellido       VARCHAR(100),
    @telefono       VARCHAR(20) = NULL,
    @direccion      VARCHAR(255) = NULL,
    @email          VARCHAR(50) = NULL,
    @info_relevante VARCHAR(255) 
AS
BEGIN
    SET NOCOUNT ON;

    -- Validación de obligatorios
    IF (@nombre IS NULL OR LTRIM(RTRIM(@nombre)) = '')
    BEGIN
        RAISERROR('El campo nombre es obligatorio.', 16, 1);
        RETURN;
    END

    IF (@apellido IS NULL OR LTRIM(RTRIM(@apellido)) = '')
    BEGIN
        RAISERROR('El campo apellido es obligatorio.', 16, 1);
        RETURN;
    END

    IF (@info_relevante IS NULL OR LTRIM(RTRIM(@info_relevante)) = '')
    BEGIN
        RAISERROR('El campo info_relevante es obligatorio.', 16, 1);
        RETURN;
    END

    -- Inserción con UPPER()
    INSERT INTO clientes
    (
        nombre,
        apellido,
        telefono,
        direccion,
        email,
        info_relevante,
        fecha_registro,
        cod_estado
    )
    VALUES
    (
        UPPER(@nombre),
        UPPER(@apellido),
        @telefono,
        @direccion,
        UPPER(@email),
        UPPER(@info_relevante),
        GETDATE(),
        'A'
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_deuda]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[sp_insertar_deuda]
    @id_cliente INT,
    @total DECIMAL(10, 2),
    @id_deuda INT OUTPUT
AS
BEGIN
        -- Insertar en la tabla ventas
        INSERT INTO deudas_registradas(id_cliente, fecha_deuda, total,saldada)
        VALUES (@id_cliente, GETDATE(), @total,0);

        -- Obtener el id_venta generado
        SET @id_deuda = SCOPE_IDENTITY();
   
END; 
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_deuda_detalle]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_insertar_deuda_detalle]
    @id_deuda INT,
    @id_producto INT,
    @kilos DECIMAL(10, 2),
    @cantidad INT,
    @monto_producto DECIMAL(10, 2)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insertar en la tabla detalle_deuda_productos
        INSERT INTO detalle_deuda_productos(id_deuda, id_producto, kilos, cantidad, monto_producto)
        VALUES (@id_deuda, @id_producto, @kilos, @cantidad, @monto_producto);

        -- Descontar stock SOLO si el producto es de tipo "P"
        IF EXISTS (SELECT 1 FROM productos WHERE id_producto = @id_producto AND tipo = 'P')
        BEGIN
            UPDATE stock_productos
            SET cantidad = cantidad - @cantidad,
                fecha_actualizacion = GETDATE()
            WHERE id_producto = @id_producto;

            -- Validar que no quede negativo
            IF EXISTS (SELECT 1 FROM stock_productos WHERE id_producto = @id_producto AND cantidad < 0)
            BEGIN
                RAISERROR('El stock no puede ser negativo.', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_pago]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertar_pago]
    @id_deuda INT,
    @monto_pagado DECIMAL(10, 2),
	@resultado INT OUT
AS
BEGIN
    DECLARE @total DECIMAL(10, 2);
    DECLARE @totalAbonado DECIMAL(10, 2); 

    -- Seleccionar el total de la deuda
    SELECT @total = deu.total 
    FROM deudas_registradas deu 
    WHERE id_deuda = @id_deuda; 
    -- Seleccionar la suma de los pagos realizados
    SELECT @totalAbonado = COALESCE(SUM(pg.monto_pagado), 0)
    FROM pagos pg 
    WHERE id_deuda = @id_deuda;
	  
IF (@monto_pagado <= @total AND (@totalAbonado + @monto_pagado) <= @total)
    BEGIN
        INSERT INTO [dbo].[pagos] (id_deuda, monto_pagado, fecha_pago)
        VALUES (@id_deuda, @monto_pagado, GETDATE());

		SET @totalAbonado = @totalAbonado + @monto_pagado;

        -- Validar si el total abonado es igual al total de la deuda
        IF (@totalAbonado = @total)
		begin
		update deudas_registradas 
		set saldada = 1
		where id_deuda = @id_deuda;
		SET @resultado = 1;  -- True   
		end
		SET @resultado = 1;  -- True   
    END
    ELSE
    BEGIN
        SET @resultado = 0;  -- False  
    END  
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_producto_con_stock]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_insertar_producto_con_stock]
    @nombre_producto   VARCHAR(255),
    @tipo             CHAR(1),         -- "C" = Carne, "P" = Producto
    @precio           DECIMAL(10, 2),
    @cantidad         INT = 0          -- Solo aplica si es tipo "P"
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 0. Validar si ya existe un producto con el mismo nombre y tipo
        IF EXISTS (
            SELECT 1 
            FROM productos 
            WHERE nombre_producto = UPPER(@nombre_producto) 
              AND tipo = UPPER(@tipo) 
              AND cod_estado = 'A'
        )
        BEGIN
            RAISERROR('El producto ya existe en la base de datos.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 1. Insertar producto (forzado a mayúsculas)
        INSERT INTO productos (nombre_producto, tipo, precio, cod_estado)
        VALUES (UPPER(@nombre_producto), UPPER(@tipo), @precio, 'A');

        DECLARE @id_producto INT = SCOPE_IDENTITY();

        -- 2. Insertar stock SOLO si es producto
        IF (UPPER(@tipo) = 'P')
        BEGIN
            INSERT INTO stock_productos (id_producto, cantidad, fecha_actualizacion, cod_estado)
            VALUES (@id_producto, @cantidad, GETDATE(), 'A');
        END

        -- 3. Registrar histórico de precios
        INSERT INTO historial_precios (
            id_producto,
            precio_nuevo,
            fecha_actualizacion,
            cod_estado
        )
        VALUES (
            @id_producto,
            @precio,
            GETDATE(),
            'A'
        );

        COMMIT TRANSACTION;

        -- 4. Devolver producto recién creado
        SELECT 
            p.id_producto,
            p.nombre_producto,
            p.tipo,
            p.precio,
            sp.cantidad,
            sp.fecha_actualizacion
        FROM productos p
        LEFT JOIN stock_productos sp ON p.id_producto = sp.id_producto
        WHERE p.id_producto = @id_producto;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_clientes]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_clientes]
AS
BEGIN
    SELECT 
        id_cliente,
        nombre,
        apellido,
        telefono,
        direccion,
        email,
        info_relevante,
        fecha_registro,
		cod_estado
    FROM 
        clientes
	WHERE 
		cod_estado = 'A'
		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_detalle_deuda]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_obtener_detalle_deuda]
@id_deuda INT
as
begin
        SELECT 
    deu.cantidad,
    deu.kilos,
    deu.monto_producto,
    pd.nombre_producto,
    NULL AS fecha_pago,
    NULL AS monto_pagado,
    NULL AS id_parciales
FROM detalle_deuda_productos deu
INNER JOIN productos pd ON deu.id_producto = pd.id_producto 
WHERE deu.id_deuda = @id_deuda

UNION ALL

SELECT 
    NULL AS cantidad,
    NULL AS kilos,
    NULL AS monto_producto,
    NULL AS nombre_producto,
    pg.fecha_pago,
    pg.monto_pagado,
    pg.id_parciales
FROM pagos pg
WHERE pg.id_deuda = @id_deuda


end;
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_deuda]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_obtener_deuda]    
AS
BEGIN 
        select 
		deu.id_deuda,
		deu.fecha_deuda,		
		cl.nombre,
		cl.apellido,
		deu.total,
		deu.saldada
		from deudas_registradas deu
		inner join clientes cl on cl.id_cliente = deu.id_cliente
END; 
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_productos]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_productos]
AS
BEGIN
    SELECT 
        id_producto,
        nombre_producto,
        precio,
        tipo
    FROM 
        productos
	WHERE 
		cod_estado = 'A'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_stock_con_precio]    Script Date: 3/10/2025 22:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_obtener_stock_con_precio]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        sp.id_producto,
        p.nombre_producto,
        CAST(sp.cantidad AS INT) AS cantidad, -- ✅ Forzamos INT por consistencia
        p.precio,
        sp.fecha_actualizacion,
        sp.cod_estado
    FROM stock_productos sp
    INNER JOIN productos p ON sp.id_producto = p.id_producto
    ORDER BY p.nombre_producto;
END;
GO
USE [master]
GO
